* text=auto eol=lf
*.top binary
internal/top/testdata/native-trip-read.txt -text whitespace=cr-at-eol
internal/top/testdata/native-measurement-read.txt -text whitespace=cr-at-eol
internal/top/testdata/native-reference-read.txt -text whitespace=cr-at-eol
internal/top/testdata/native-mapping-read.txt -text whitespace=cr-at-eol
internal/top/testdata/native-plan-mapping-read.txt -text whitespace=cr-at-eol
internal/top/testdata/native-plan-marker-read.txt -text whitespace=cr-at-eol
internal/top/testdata/native-plan-polygon-count-read.txt -text whitespace=cr-at-eol
internal/top/testdata/native-plan-polygon-points-read.txt -text whitespace=cr-at-eol
internal/top/testdata/native-plan-polygon-color-read.txt -text whitespace=cr-at-eol
internal/top/testdata/native-plan-next-marker-read.txt -text whitespace=cr-at-eol
internal/top/testdata/native-plan-second-polygon-count-read.txt -text whitespace=cr-at-eol
internal/top/testdata/native-plan-second-polygon-points-read.txt -text whitespace=cr-at-eol
